.navigation_wrapper {
  display: flex;
  background-color: aquamarine;
  justify-content: center;
  margin: 2%;
}

.navigation_items {
  background-color: blueviolet;
  display: inline-block;
  width: 120px;
  padding: 3px;
}

.navigation_items a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

ul.dd_list {
  padding: 2% 2%;
}

.dd_lst_item {
  text-decoration: none;
  list-style: none;
  padding: 2% 2%;
  background-color: blue;
  margin: 5%;
}
